# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build artifacts
build/
dist/

# Virtual environments
.venv/
venv/
.env

# Testing
.pytest_cache/

# IDEs
.vscode/

# Reports
report/

# OS files
.DS_Store
.aider*

# test artifacts
.coverage
